
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdministrator() {
      return getUserData(request.auth.uid).role == 'Administrator';
    }
    
    function isSuperAdmin() {
      return getUserData(request.auth.uid).role == 'Super Admin';
    }

    match /users/{userId} {
      // Any authenticated user can read other user profiles if they are an admin. They can always read their own.
      allow read: if isSuperAdmin() || isAdministrator() || isOwner(userId);

      // A user can only be created if:
      // 1. It's for themselves (isOwner).
      // 2. If they are trying to create a "Super Admin" role, their email MUST be 'offixaps@gmail.com'.
      // 3. Otherwise, they can create a non-Super Admin user for themselves.
      allow create: if isOwner(userId) && (
        request.resource.data.role == 'Super Admin' ? request.auth.token.email == 'offixaps@gmail.com' : true
      );
      
      // An admin or the user themselves can update a profile.
      allow update: if isSuperAdmin() || isAdministrator() || isOwner(userId);
      
      // Only admins can delete users.
      allow delete: if isSuperAdmin() || isAdministrator();
    }

    match /policies/{policyId} {
      allow read, write: if isSuperAdmin() || request.auth != null;
    }

    match /roles/{roleId} {
        allow read: if isSuperAdmin() || request.auth != null;
        allow write: if isSuperAdmin() || isAdministrator();
    }
  }
}
